<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://kit.fontawesome.com/3cf8c0ac98.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <nav>
      <span style="font-size: 13px; color: black;">
            <a href="/"><i class="fas fa-arrow-left"></i></a>
      </span>
      </nav>
    </div>
  </div>
</header>
</body>