---
layout: 'base2.njk'
---
    
<article class="main-article">
<div class="container container--narrow flow">
  
    <h2 class="article-title">
      Info
    </h2>
    <p>I'm Ed, I'm interested in: 
        Design, web, print, <a href="https://letterboxd.com/ed91/films/diary/" target="_blank">film</a>, photography, games, coding, plants, nature and fitness.
     </p>
     <img src="https://silly-tanuki-15a1c2.netlify.app/assets/images/me.jpg" alt="Me" />
</div>
</article>
<hr style="width:100%"> 