---
layout: 'base2.njk'
---
    
<article class="main-article">
<div class="container container--narrow flow">
  
    <h2 class="article-title">
      Info
    </h2>
     <img src="https://silly-tanuki-15a1c2.netlify.app/assets/images/me.jpg" alt="Me" />
         <p>I'm Ed, I'm interested in: 
        Design, web, print, <a href="https://letterboxd.com/ed91/films/diary/" target="_blank">film</a>, photography, video games, coding, nature and fitness.
     <br>
     <br>
     Design:
     <br>
     I work as a Designer in Brighton and London, check out <a href="http://thefrenchbastards.fr/" target="_blank">my portfolio.</a>
     <br>
     <br>
     Web:
     <br>
     I never stop obsessing over design, a few favourite sources (that aren't irl): <a href="https://godly.website/" target="_blank">Godly</a> / <a href="https://www.hoverstat.es/" target="_blank">HOVERSTAT.ES</a> / <a href="https://www.searchsystem.co/" target="_blank">Search System</a> / <a href="https://brutalistwebsites.com/" target="_blank">Brutalist Websites</a>.
     <br>
     <br>
     Print:
     <br>
     I enjoy screenprinting and collect books, posters and prints.
     <br>
     <br>
     Films:
     <br>
     I regularly go to the cinema and keep a diary of all the films I watch on <a href="https://letterboxd.com/ed91/films/diary/" target="_blank">Letterboxd</a> add me.
     <br>
     <br>
     Photography:
     <br>
     I take photos film / digital and admire <a href="https://donovanwylie.studio/index.php?page=work" target="_blank">Donovan Wylie</a> / <a href="https://www.instagram.com/gmuncey/" target="_blank">George Muncey</a> /
     <br>
     <br>
     Video Games:
     <br>
     Metroid / Zelda / Hollow Knight / 
     <br>
     <br>
     Coding:
     <br>
     ///
     <br>
     <br>
     Nature:
     <br>
     ///
     <br>
     <br>
     Fitness:
     <br>
     ///
     <br>
     <br>
</div>
</article>
<hr style="width:100%"> 