---
title: Ed Davies Info
layout: 'base2.njk'
---
    
<article class="main-article">
<div class="container container--narrow flow">
  
    <h2 class="article-title">
      Info
    </h2>
     <img src="https://silly-tanuki-15a1c2.netlify.app/assets/images/me.jpg" alt="Me" />
     <p>I'm Ed, I work as a Designer in Brighton and London, check out <a href="http://www.ed-davies.com/" target="_blank">my portfolio.</a>
     <br>
     <br>     
     I'm interested in: Design, web, print, <a href="https://letterboxd.com/ed91/films/diary/" target="_blank">film</a>, 
     photography, video games, coding, nature and fitness.
     <br>
     <br>
     Favourite design sources (that aren't irl): <a href="https://godly.website/" target="_blank">Godly</a> / <a href="https://www.hoverstat.es/" target="_blank">HOVERSTAT.ES</a> / <a href="https://www.searchsystem.co/" target="_blank">Search System</a> / <a href="https://brutalistwebsites.com/" target="_blank">Brutalist Websites</a>.
     <br>
     <br>
     I created this blog using: <a href="https://github.com/" target="_blank">Github</a> / <a href="https://www.netlify.com/" target="_blank">Netlify</a> / <a href="https://www.11ty.dev/" target="_blank">11ty</a> / <a href="https://code.visualstudio.com/" target="_blank">Visual Studio</a>.
     <br>
     <br>
     Type set in Space Grotesk by <a href="https://fonts.floriankarsten.com/space-grotesk" target="_blank">Florian Karsten</a> / Inter by <a href="https://rsms.me/inter/" target="_blank">Rasmus Andersson</a> / and your system default monospace.
</div>
</article>
<hr style="width:100%"> 